<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
<listeners>
<listener class-name="day25listeners.Extentreportmanager"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="day25listeners.Orangehrmtest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
