<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test  name="Test1">
    <classes>
      <class name="day22pack.C1"/>
            <class name="day22pack.C2"/>
      
            <class name="day22pack.C3"/>
      
    </classes>
  </test> 
  <test name="Test2">
    <classes>
      <class name="day22pack.C1"/>
      
            <class name="day22pack.C2"/>
      <class name="day22pack.C3"/>
    </classes>
  </test> 
  
  
  <!-- Test -->
</suite> <!-- Suite -->
